:root{
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkdesaturatedcyangraphicdesigntext: hsl(167, 40%, 24%);
    --darkbluephotographytext: hsl(198, 62%, 26%);
    --darkmoderatecyanfooter: hsl(168, 34%, 41%);
    --verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --verydarkgrayishblue: hsl(213, 9%, 39%);
    --darkgrayishblue: hsl(232, 10%, 55%);
    --grayishblue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}


